### Exploratory Data Analysis

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/telegram_channel_data.csv')

In [3]:
data.head()

,Message ID,Date,Sender ID,Message
0,864,2023-12-18 17:04:02+00:00,NaN,https://youtu.be/5DBoEm-8kmA?si=LDLuEecNfULJVD...
1,863,2023-11-03 16:14:39+00:00,NaN,ዶክተርስ ኢትዮጵያ በ አዲስ አቀራረብ በ ቴሌቪዥን ፕሮግራሙን ለመጀመር ከ...
2,862,2023-10-02 16:37:39+00:00,NaN,ሞት በስኳር \n\nለልጆቻችን የምናሲዘው ምሳቃ ሳናቀው እድሚያቸውን ይቀን...
3,861,2023-09-16 07:54:32+00:00,NaN,ከ HIV የተፈወሰ ሰው አጋጥሟችሁ ያቃል ? ፈውስ እና ህክምና ?\n\nሙ...
4,860,2023-09-01 16:16:15+00:00,NaN,በቅርብ ጊዜ በሃገራችን ላይ እየተስተዋለ ያለ የተመሳሳይ ፆታ ( Homos...

In [4]:
data.tail()

,Message ID,Date,Sender ID,Message
95,754,2022-02-11 17:23:23+00:00,NaN,NaN
96,753,2022-02-11 17:23:23+00:00,NaN,ዛሬ አርብ ምሽት 3:30 በ ፋና ቴሌቪዥን \n\nየወንድ ልጅ ጡት እንደሴ...
97,752,2022-02-08 18:21:30+00:00,NaN,NaN
98,751,2022-02-08 18:20:57+00:00,NaN,የእርዳታ ጥሪ \n\nታዳጊ ኤልሮኢ አብርሃም ሁሉቱም ኩላሊቶቹ መስራት አቁ...
99,750,2022-02-05 04:59:06+00:00,NaN,የካንሰር ተጋላጭነትን ለመቀነስ ከላይ በምስሉ ላይ ያለውን ይተግብሩ::\n...